<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
            <span class="nav-toggle-button collapsed" data-toggle="collapse"
                  data-target="#main-menu"> <span class="sr-only">Toggle
                    navigation</span> <i class="fa fa-bars"></i>
            </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li   role="presentation"><a
                                href="/">首页</a></li>
                        <li role="presentation" ><a
                                href="/archive">归档</a></li>
                        <li role="presentation"  ><a
                                href="/categories/categories-cloud">分类</a></li>
                        <li role="presentation" > <a
                                href="/tags/tag-cloud"  >标签</a></li>
                        <li role="presentation"><a
                                href="http://chunchuji.ilvc.me" target="_blank">诗集</a></li>
                        <li role="presentation" ><a
                                href="/guestBook"  >留言本</a></li>
                        <li role="presentation" ><a
                                href="/FAQ/links-could" title="问题与解决方案"  >收藏夹</a></li>
                        <li role="presentation"  class="nav-current" ><a
                                href="/about" >关于</a></li>
                        <li role="presentation"><a
                                href="javascript:void(0);" class="asearch" title="点击即可搜索"><i class="fa fa-search"></i></a>
                            <div class="search" style="display: none;float: left;">
                                <form action="/blog/post/q" method="get" onsubmit="javascript:search();return false;">
                                    <input type="search" name="q" id="q" placeholder="回车搜索...." style="height: 25px; border-radius: 20px 20px 20px 20px;padding: 5px;padding-left: 10px;"/>
                                </form>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->
